image:
  registry:
  repository: user
  tag: latest  # will be replaced
  pullPolicy: Always

namespace: qtapp

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 64Mi
env:
  GIN_MODE: debug
  GIN_ACCESS_LOG: true
  OTEL_EXPORTER_OTLP_ENDPOINT: "localhost:4317"
  APPLICATION_NAME: "qt.test.app"
  PYROSCOPE_SERVER_ADDRESS: "http://pyroscope.awsagent.optimizor.app"
service:
  name: user
  serviceType: ClusterIP
  internalPort: 8080
  externalPort: 8080